.signin-container {
  margin-left: 22%;
  margin-top: 15vh;
  font-family: Lato;
  font-size: 18px;
  background: white;
  width: 56%;
  height: 52%;
  border-radius: 10px;
  padding: 8% 15% 8% 15%;
}
.form-control {
  box-shadow: 0px 12px 6px #DBDBDB;
  margin-bottom: 35px;
  border-radius: 10px !important;
  height: 45px !important;
  font-family: LatoWebBold !important;
  &::placeholder {
	  color: #969696 !important;
	  font-family: LatoWeb !important;
  }
}
.signup-options-container{
	position: relative;
	margin-top: 20px;
  
}

.signup-link{
  float: left;
  font-family: LatoWebBold;
  color: #40BBF2;
}
.forgot-password-link{
  float: right;
  position: absolute;
  right: 0px;
  color: #40BBF2;
  font-family: LatoWebBold;
}
.signin-btn{
	background: #4D96CC !important;
	border-color: #4D96CC !important;
	width: 140px;
	height: 45px;
	border-radius: 50px !important;
	font-family: LatoWebBold;
}
.reset-btn{
	background: #4D96CC !important;
	border-color: #4D96CC !important;
	width: 60%;
	height: 45px;
	border-radius: 50px !important;
	font-family: LatoWebBold;
}